.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes extend {
  0% {
    width: 0.25em;
 }
  100% {
    width: 1em;
 }
}

.loader.logo {
  width: 30%;
  height: 30%;
  animation: App-logo-spin 5s infinite linear;
}

.loader.dots {
  animation: extend 3s steps(3, end);
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}
.loader {
  color: #61dafb;
}
.loader.dots:before {
  content: "...";
}

button.btn {
  transition: 0.5s;
  font-family: Andale Mono, monospace;
}
button.btn.my-5:enabled {
  font-size: 150%;
}

table {
  font-size:medium;
}

thead {
  text-align: center;
}

.entity {
  background-color: #3f4552;
  text-decoration: none;
  color: antiquewhite;
  padding: 2px 5px 5px 5px;
  border-radius: 5px;
  transition: 0.7s;
}

.entity:hover{
  color: #61dafb;
  cursor: pointer;
  font-size: 105.75%;
}

.wikiLink {
  /* border-radius: 5px; */
  border-bottom: 1px solid #3f4552;
  text-decoration: none;
  transition: 0.3s;
  color: #61dafb;
}

.wikiLink.table {
  color:rgb(212, 204, 204)
}

.wikiLink:hover {
  padding: 2px 5px 5px 5px;
  font-size: 105%;
  text-shadow: -0.75px 0.5px #282c34;
  color: #61dafb;
}